<div class="container">
    <div class="row row-cols-3 row-cols-md-5 g-4">
        <div class="pt-5" *ngFor="let c of courses" style="border: 0px solid red;">
            <a href="/course/{{c.id}}">
            <div class="card borderless pt-0">
                <img src="{{c.image}}" class="card-img-top" alt="..." style="height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">{{c.name}}</h5>
                    <p class="card-text">{{c.description}}</p>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>