<div class="intro">
    <h1>Welcome to TutoReal</h1>
    <h4>New to TutoReal?Lucky you.</h4>
    <p>Courses strating at INR 499. Get your new student offer before it expires</p>
    <a href="/courses">Learn more</a>
  </div>
  
  <div class="blank"></div>
  
  <div class="two">
    <div class="item">
      <div class="img img-first"></div>
      <div class="card">
        <h3>Rock climbing</h3>
        <p>The goal is to reach the summit of a formation or the endpoint of a usually pre-defined route without falling</p>
        <a href="#">Learn more</a>
      </div>
    </div>
    
  </div>
  
  <div class="blank"></div>